trabajo_xml_Gómez Giraldo,  El Yamani Serroukh_Jean Pierre, Omar/esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="habitaciones">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="habitacion" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="nombre_huesped" type="xs:string"/>
              <xs:element name="apellidos_huesped" type="xs:string" minOccurs="0"/>
              <xs:element name="edad" type="xs:integer"/>
              <xs:element name="fecha_entrada" type="xs:date" minOccurs="0"/>
              <xs:element name="fecha_salida" type="xs:date" minOccurs="0"/>
              <xs:element name="dni" type="xs:string"/>
              <xs:element name="nacionalidad" type="xs:string" minOccurs="0"/>

            </xs:sequence>

            <xs:attribute name="id" type="xs:integer" use="required"/>

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
